backports.entry-points-selectable==1.1.0
certifi==2021.10.8
charset-normalizer==2.0.7
conda==4.3.16
distlib==0.3.3
exceptiongroup==1.1.3
filelock==3.3.2
greenlet==2.0.2
idna==3.3
iniconfig==2.0.0
packaging==23.2
pipenv==2021.5.29
platformdirs==2.4.0
playwright==1.38.0
pluggy==1.3.0
pycosat==0.6.3
pyee==9.0.4
pytest==7.4.3
pytest-base-url==2.0.0
pytest-playwright==0.4.3
python-slugify==8.0.1
requests==2.26.0
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
text-unidecode==1.3
tomli==2.0.1
typing_extensions==4.8.0
urllib3==1.26.7
virtualenv==20.10.0
virtualenv-clone==0.5.7
